* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 800px;
  padding-top: 20px;
}

.manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(72, 0, 255);
  margin-bottom: 20px;
  padding: 10px;
}

.post__text {
  width: 100%;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.filter {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.filter__search {
  width: 70%;
}

.filter__select {
  width: 25%;
}

.form--create {
  display: flex;
  flex-direction: column;
}

.form__inp {
  margin-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: center;
}

.page-active {
  opacity: .5;
}
